.account-frame {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--color-background-dark);
  background-image: url("../assets/img/ui/Background_Account.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 16px;
}

.account-preview {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

/* Account image */

.account-image-box {
  position: relative;
  height: 160px;
  width: 160px;

  margin-inline: 10px;
  padding: 32px 8px;
  background-color: var(--color-socket);
  border: solid 2px var(--color-socket-border-inner);
  outline: solid 1px var(--color-socket-border-outer);
  outline-offset: -1px;
  border-radius: 1px;
}

.account-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.account-image-overlay {
  position: absolute;
  inset: 0;
  background: var(--color-game-transparent-box);
  opacity: 0.5;
}

.account-image-box:not(:hover) .account-image-overlay {
  visibility: hidden;
}

.account-image-change-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 40px;
  width: 40px;
  padding: 4px;
}

.account-image-change-button::before {
  background-image: url("../assets/svg/ui/edit-pencil.svg");
}

.account-image-box:not(:hover) .account-image-change-button {
  visibility: hidden;
}

/* Account info */

.account-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.account-player-name {
  font-size: 24px;
}

.account-w-l-statistics {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.account-win-statistics {
  color: var(--color-game-green);
}

.account-lose-statistics {
  color: var(--color-game-red);
}

/* Image selector */

.account-image-selector-modal {
  position: absolute;
  inset: 0;
}

.account-image-selector-modal:not(.visible) {
  display: none;
}

.account-image-selector-modal-overlay {
  position: absolute;
  inset: 0;
  background: var(--color-game-transparent-box);
  opacity: 0.5;
}

.account-image-selector-modal-content {
  position: absolute;
  inset: 0;
  margin: auto;

  width: 80%;
  height: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
  /* background-image: url("../assets/img/ui/Modal_Back.jpg"); */
  background: transparent;
  border: solid 64px;
  border-image: url("../assets/img/ui/Modal_Back.jpg") 128 / 64px round;
  outline: solid 1px var(--color-element-container-border-outer);
  outline-offset: -1px;
}

.account-image-selector-modal-content::before,
.account-image-selector-modal-content::after {
  display: block;
  content: "";
  background-image: url("../assets/img/ui/Ornamentum.jpg");
  background-size: cover;
  background-position: center;

  border: solid 2px var(--color-element-container-border-inner);
  outline: solid 1px var(--color-element-container-border-outer);
  outline-offset: -1px;

  height: 21px;
  width: 100%;
  flex-shrink: 0;
}

.account-image-selector-modal-content ::-webkit-scrollbar {
  outline: solid 1px var(--color-element-container-border-outer);
}

.account-image-selector-modal-close-button {
  position: absolute;
  top: -48px;
  right: -48px;
  height: 40px;
  width: 40px;
  flex-shrink: 0;
  padding: 4px;
}

.account-image-selector-modal-close-button::before {
  background-image: url("../assets/svg/ui/decline.svg");
}

.account-image-selector {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background: var(--color-game-transparent-box);
  border: solid 2px var(--color-element-container-border-inner);
  outline: solid 1px var(--color-element-container-border-outer);
  outline-offset: -1px;

  overflow-y: auto;
}

.select-image-box {
  position: relative;
  height: 200px;
  width: 160px;
  margin: 16px;

  background-color: var(--color-socket);
  border: solid 2px var(--color-socket-border-inner);
  outline: solid 1px var(--color-socket-border-outer);
  outline-offset: -1px;
  border-radius: 1px;

  padding: 16px;
  overflow: hidden;
}

.select-image-box img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.select-image-overlay {
  position: absolute;
  inset: 0;
  background: var(--color-game-transparent-box);
  opacity: 0.5;
}

.select-image-box:not(:hover) .select-image-overlay {
  visibility: hidden;
}

.select-image-box button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 40px;
  width: 40px;
  padding: 4px;
}

.select-image-box button::before {
  background-image: url("../assets/svg/ui/check.svg");
}

.select-image-box:not(:hover) button {
  visibility: hidden;
}
