:root {
  font-family: "Exocet";
  font-size: 20px;
  letter-spacing: 1px;
}

input,
button {
  font-family: "Exocet";
  font-size: 20px;
  letter-spacing: 1px;
}

input[type="button"],
button {
  cursor: pointer;
}
