.settings-frame {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--color-background-dark);
  background-image: url("../assets/img/ui/Background_Settings.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-inline: 16px;
  padding-top: 16px;
}

.setting-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.setting-header {
  line-height: 1;
  margin-right: 8px;
}

.settings-frame button {
}

/* Name setting */

.name-setting-readonly-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.setting-box.edit-mode .name-setting-readonly-box {
  display: none;
}

.name-setting-readonly {
}

.setting-box:not(.edit-mode) .name-setting-edit-box {
  display: none;
}

.name-setting-edit-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.name-setting-edit-input {
}
